@font-face {
  font-family: 'h5p-book';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/h5p-interactive-book.eot?a3wrpr#iefix') format('embedded-opentype'),
    url('../fonts/h5p-interactive-book.ttf?a3wrpr') format('truetype'),
    url('../fonts/h5p-interactive-book.woff?a3wrpr') format('woff'),
    url('../fonts/h5p-interactive-book.svg?a3wrpr#h5p-interactive-book') format('svg');
}
.h5p-interactive-book [class^='icon-'],
.h5p-interactive-book [class*=' icon-'] {
  font-family: 'h5p-theme';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  z-index: 1;
}

.icon-close {
  ::before {
    content: '\e900';
  }
}

.icon-expanded {
  &::before {
    content: '\e931';
  }
}

.icon-collapsed {
  &::before {
    content: '\e901';
  }
}

.icon-chapter-started {
  &::before {
    content: '\e92e';
  }
}

.icon-chapter-done {
  &::before {
    content: '\e92d';
  }
}

.icon-check-mark {
  &::before {
    content: '\e908';
  }
}

.icon-chapter-blank {
  &::before {
    content: '\e92c';
  }
}

.icon-menu {
  &::before {
    content: '\e913';
  }
}

.icon-previous {
  &::before {
    content: '\e900';
  }
}

.icon-next {
  &::before {
    content: '\e901';
  }
}

.icon-up {
  &::before {
    content: '\e92a';
  }
}

.icon-question-answered {
  &::before {
    content: '\e92f';
  }
}

.icon-enable-fullscreen {
  &::before {
    font-family: 'h5p-theme';
    content: '\e915';
  }
}

.icon-disable-fullscreen {
  &::before {
    font-family: 'h5p-theme';
    content: '\e914';
  }
}
